<button style="position: fixed; top: 0; right: 0;" class="btn btn-secondary" routerLink="/api">
    Api
</button>

<div class="content">
    <div class="container pt-5" style="background-color: #2F6172;">
        <div style="width: 90%; margin: 0 auto;">
            <h1 class="text-white text-center mt-5 mb-5">¿Eres Director o Gerente de Empresa, de ingeniería o de Tecnologías de Información?</h1>                                
            <div style="width: 50%; min-width: 350px; margin: 0 auto;">
                <h3 class="text-white mt-5 mb-0 text-justify" style="font-size: 1.3rem;">En esta Masterclass podrás contar con una <b>GUÍA</b> del proyecto para su transformación. 
                    Ademas contaras con el <b>ANÁLISIS</b> de procesos, selección de <b>TECNOLOGÍAS</b> y su 
                    <b>ESTRATEGIA</b> para implementarla.</h3>        
            </div>
        </div>
    </div>
    <div style="width: 100%; max-width: 1320px; height: max-content; margin: 0 auto;">
        <img src="../../assets/imagenes/Banner principal.png" alt="" style="height: 100%; width: 100%; object-fit: contain;">
    </div>
</div>

<div class="container">
    <div class="text-bold text-center m-5">
        <h4>Impartido por</h4>
        <h4>Mtro. Rosalindo Zamorano</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 p-3">
                <div class="card" style="background-color: #F6F7F8; border: 0; border-top: 10px solid #2F6172">
                    <div class="card-body text-center align-items-center d-flex flex-column">
                        <img src="../../assets/imagenes/Estrella.png" alt="" class="m-3 img-fluid"> <!-- Cambiado a "img-fluid" para hacer la imagen responsive -->
                        <p style="font-weight: 500;">Amplia experiencia como Director de Tecnologías de la información</p>
                    </div>
                </div>                
            </div>
    
            <div class="col-lg-9 col-md-6 col-sm-12  p-3">
                <ul>
                    <li class="p-2">
                        <img src="../../assets/imagenes/Flecha.png" alt="">Administracion de servicios de TI, recursos informaticos y contratos de servicios en sede principal y 5 subsedes (INTRANET)</li>
                    <li  class="p-2">
                        <img src="../../assets/imagenes/Flecha.png" alt="">Consoldacion de implementacion del ERP BAAN V</li>
                    <li class="p-2">
                        <img src="../../assets/imagenes/Flecha.png" alt="">Diseño y contruccion de los MDF's de la INTRANET</li>
                    <li class="p-2">
                        <img src="../../assets/imagenes/Flecha.png" alt="">Migracion de operacion critica de Data Center Comercial</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12  p-3">
                <div class="card" style="background-color: #F6F7F8; border: 0; border-top: 10px solid #2F6172">
                    <div class="card-body text-center align-items-center d-flex flex-column">
                        <img src="../../assets/imagenes/Estrella.png" alt="" class="m-3 img-fluid"> <!-- Cambiado a "img-fluid" para hacer la imagen responsive -->
                        <p style="font-weight: 500;">Ingeniero en proyectos de implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI</p>
                    </div>
                </div>                
            </div>

            <div class="col-lg-5 col-md-6 col-sm-12  p-3">
                <div class="card" style="background-color: #F6F7F8; border: 0; border-top: 10px solid #2F6172">
                    <div class="card-body text-center align-items-center d-flex flex-column">
                        <img src="../../assets/imagenes/Estrella.png" alt="" class="m-3 img-fluid"> <!-- Cambiado a "img-fluid" para hacer la imagen responsive -->
                        <h5 class="card-title fs-5 font-weight-normal color-black">
                            <ul>
                                <li class="d-flex">
                                    <div class="circle" style="height: 10px; width: 10px; border-radius: 50%; background-color: #2F6172; margin: 10px; padding: 0;"></div>
                                    <p class="text-start" style="font-weight: 500; font-size: 1rem;">Gerente de computo y comunicaciones</p>
                                </li>
                                <li  class="d-flex">
                                    <div class="circle" style="height: 10px; width: 10px; border-radius: 50%; background-color: #2F6172; margin: 10px; padding: 0;"></div>                                    
                                    <p class="text-start" style="font-weight: 500;  font-size: 1rem;">Gerente de desarrollo de software</p>
                                </li>
                                <li  class="d-flex">
                                    <div class="circle" style="height: 10px; width: 10px; border-radius: 50%; background-color: #2F6172; margin: 10px; padding: 0;"></div>                                    
                                    <p class="text-start" style="font-weight: 500;  font-size: 1rem;">Desarrollo de Sistemas</p>
                                </li>
                                <li  class="d-flex">
                                    <div class="circle" style="height: 10px; width: 10px; border-radius: 50%; background-color: #2F6172; margin: 10px; padding: 0;"></div>                                    
                                    <p class="text-start" style="font-weight: 500; font-size: 1rem;">Administración de redes y equipos de computo</p>
                                </li>
                            </ul>
                        </h5>
                    </div>
                </div>                
            </div>

            <div class="text-bold text-center m-5" style="color: #02BB87;">
                <h3><b>Evento gratuito</b> dirigido a</h3>
                <h3>profesionales de la industria</h3>
            </div>            

            <div class="col-lg-4 col-md-6 col-sm-12  p-3">
                <p class="p-3" style="border-left: 3px solid #2F6172; font-weight: 700;">Nuestro mercado es global, pero nuestra competencia también esta de ese tamaño</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12  p-3">
                <p class="p-3" style="border-left: 3px solid #2F6172;  font-weight: 700;">Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente aplicación de los recursos con mejor RDI</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12  p-3">
                <p class="p-3" style="border-left: 3px solid #2F6172; font-weight: 700;">La transformación Digital provoca que todo sea mas rápido y eficiente</p>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 mt-5 p-3 mb-3">
                    <h3 class="title">La transformación Digital provoca que todo sea mas rápido y eficiente</h3>              
                    <p class="mt-4 mb-4 text-center title" style="width: 80%;">La capacidad de adaptarse a la nueva realidad es la clave de la transformación digital</p>  
    
                    <iframe width="360" height="315" src="https://www.youtube.com/embed/pofMU-RgoUw?si=UPTztK2e0H0PEXDp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    
                    <p class="fs-3 pt-5 pb-3" style="color: #02BB87;">Descubre entre otros temas</p>
    
                    <ul>
                        <li class="mb-2">
                            <img src="../../assets/imagenes/Estrategia.png" alt="" height="20px" width="20px">
                            Estrategia
                        </li>
                        <li  class="mb-2">
                            <img src="../../assets/imagenes/Tecnología.png" alt=""  height="20px" width="20px">
                            Selección de tecnologías
                        </li>
                        <li  class="mb-2">
                            <img src="../../assets/imagenes/Análisi de procesos.png" alt=""  height="20px" width="20px">
                            Análisis de procesos en la industria 4.0
                        </li>
                        <li  class="mb-2">
                            <img src="../../assets/imagenes/Hoja de ruta.png" alt=""  height="20px" width="20px">
                            Que hacer para obtener el máximo aprovechamiento
                        </li>
                        <li  class="mb-2">
                            <img src="../../assets/imagenes/Qué hacer.png" alt=""  height="20px" width="20px">
                            Que hacer para obtener el máximo aprovechamiento
                        </li>
                    </ul>
    
                </div>
    
                <div class="col-lg-6 col-md-6 col-sm-12  p-3">
                    <form class="fondo p-5" style="border-radius: 15px;">
                        <div class="text-center mt-4 mb-5" style="color: #02BB87;">
                            <h3>No pierdas la oportunidad</h3>
                            <h4>Regístrate ahora</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Nombre</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">                      
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Apellido</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Teléfono o celular</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Empresa</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Cargo</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mail</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                          </div>                    
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Entidad federativa</label>                        
                            <select class="form-select" aria-label="Default select example" disabled>                            
                                <option selected disabled>Seleccione una entidad federativa</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                          </div>                    
                        <button type="submit" class="btn text-white" style="background-color: #2F6172; display: block; margin: 30px auto; padding: 10px 30px;">Registrarme</button>
                      </form>
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="p-5" style="width: 100%;background-color: #008D91;">
    <img src="../../assets/imagenes/DMD Logo.png" alt="" style="float: right;">
</footer>